---
import Layout from '@/layouts/Layout.astro';
import '@/styles/globals.css';

const getYearsOfExperience = (
  initialDate = '01/11/2011',
  currentDate = new Date()
) => {
  const getInitialDate = new Date(initialDate).getTime();
  const getCurrentDate = new Date(currentDate).getTime();
  const numberOfYears =
    (getCurrentDate - getInitialDate) / (365 * 24 * 60 * 60 * 1000);
  return Math.floor(numberOfYears);
};
---

<Layout>
  <div class="group block w-full">
    <div
      class="flex align-middle h-full flex-col max-w-7xl mx-auto px-4 pt-20 pb-20 relative"
    >
      <div class="max-w-screen-sm">
        <h1 class="mb-4">{`Hi! My name is Edson!`}</h1>
      </div>
      <div>
        <p class="text-2xl lg:text-6xl mb-4">Freelance Frontend Developer</p>
      </div>
    </div>
  </div>
  <section>
    <h2 hidden>About</h2>
    <p>
      Experienced Frontend Developer, with exposure to different industries for
      over {getYearsOfExperience()} years, mastering skills in React, HTML, CSS,
      Vanilla Javascript, Typescript, git, performance, and accessibility. With extensive
      e-commerce experience, I have worked with platforms such as Hybris, Salesforce
      Commerce Cloud, and VTEX.
    </p>
    <p>
      I am a good communicator, adaptable, and interested in problem-solving,
      teamwork, and continuous learning. I also enjoy coaching new team
      members/junior colleagues.
    </p>
    <p>
      I am ready for a new challenge where I can bring value with my knowledge
      and develop more in a dynamic environment.
    </p>
  </section>

  <section>
    <h2>Projects</h2>
    <a href="https://milanized.com/" target="_blank" rel="noopener noreferrer"
      >Milanized!</a
    >
    <a
      href="https://www.efurukawa.com/br"
      target="_blank"
      rel="noopener noreferrer">Furukawa</a
    >

    <a href="https://forum.nos.pt/" target="_blank" rel="noopener noreferrer"
      >Nos Online Community</a
    >
  </section>
</Layout>
